
/*
* Langing Section
*/
  
.landing-yellow {
    background-color: #FFFB97;
}

.landing-white {
    background-color: #FFFFFF;
}

.landing-logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-logo.landing-bar {
    background-color: #FFFB97;
    width: 100%;
    top: 5%;
    text-align: center;
}

.landing-logo.landing-bar img {
    margin-top: 250px;
    margin-bottom: 80px;
}

.landing-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.landing-body {
    position: absolute;
    top: 50%;
    text-align: center;
}

.landing-body-text {
    position: absolute;
    top: 40%;
    padding: 0px 30px;
    font-size: 25px;
    word-break: break-all;
}

.text-header {
    font-weight: 1000;
    text-align: center;
    margin: 30px 0px;
}

.text-highlight {
    font-weight: 1000;
    text-decoration: underline;
}

.text-body p {
    margin-bottom: 18px;
}

.landing-footer {
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 16px;
}

.landing-input-left {
    text-align: left;
}

.icheckbox_square-blue {
    background: no-repeat;
    background-color: white;
}

.icheckbox_square-blue.checked {
    background: no-repeat;
    background-color: black;
}

.landing-input a, .landing-footer a {
    color: black;
    text-decoration: underline;
}

.landing-body {
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
* Button
*/
.btn-black {
    color: #fff;
    border-color: #000;
    background-color: #000;
}

.btn-white {
    color: #000;
    border-color: #fff;
    background-color: #fff;
}

.btn-black a {
    color: #fff;
}

.btn-white a {
    color: #000;
}

.btn-wblock {
    display: block;
    font-weight: 1000;
    width: -webkit-fill-available;
}

/*
*   Responsive
*/
@media (max-height: 1500px) {
    .landing-logo img {
        height: 130px;
    }
    .landing-input, .btn-wblock {
        font-size: 28px;
        height: 50px;
    }
}

@media (max-height: 1200px) {
    .landing-logo img {
        height: 120px;
    }
    .landing-input, .btn-wblock {
        font-size: 26px;
        height: 50px;
    }
}

@media (max-height: 900px) {
    .landing-logo img {
        height: 100px;
    }
    .landing-input, .btn-wblock {
        font-size: 17px;
        height: 42px;
    }
}

@media (max-height: 800px) {
    .landing-logo img {
        height: 90px;
    }
    .landing-input, .btn-wblock {
        font-size: 16px;
        height: 40px;
    }
}

@media (max-height: 700px) {
    .landing-logo img {
        height: 80px;
    }
}

@media (max-height: 600px) {
    .landing-logo img {
        height: 70px;
    }
    .landing-input, .btn-wblock {
        font-size: 15px;
        height: 40px;
    }
}

@media (max-width: 1200px) {
    .landing-body {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .landing-body {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .landing-body {
        width: 70%;
    }
}

@media (max-width: 800px) {
    .landing-body {
        width: 60%;
    }
}

@media (min-width: 1025px) {
    .landing-logo img {
        height: 140px;
    }
    .landing-input, .btn-wblock {
        font-size: 26px;
        width: 380px;
    }
    .landing-body-text {
        top: 35%;
        padding: 0px 100px;
    }
}

/*
*   Height
*/
.h-20 { height: 20px; }
.h-25 { height: 25px; }
.h-30 { height: 30px; }
.h-35 { height: 35px; }
.h-40 { height: 40px; }
.h-45 { height: 45px; }
.h-50 { height: 50px; }
.h-55 { height: 55px; }
.h-60 { height: 60px; }

/*
*   Magin
*/
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-35 { margin-top: 35px; }
.mt-40 { margin-top: 40px; }
.mt-45 { margin-top: 45px; }
.mt-50 { margin-top: 50px; }
.mt-55 { margin-top: 55px; }
.mt-60 { margin-top: 60px; }

.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }
.mb-40 { margin-bottom: 40px; }
.mb-45 { margin-bottom: 45px; }
.mb-50 { margin-bottom: 50px; }
.mb-55 { margin-bottom: 55px; }
.mb-60 { margin-bottom: 60px; }

.ml-0 { margin-left: 0px; }
.ml-5 { margin-left: 5px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }
.ml-35 { margin-left: 35px; }
.ml-40 { margin-left: 40px; }
.ml-45 { margin-left: 45px; }
.ml-50 { margin-left: 50px; }
.ml-55 { margin-left: 55px; }
.ml-60 { margin-left: 60px; }

.mr-0 { margin-right: 0px; }
.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }
.mr-35 { margin-right: 35px; }
.mr-40 { margin-right: 40px; }
.mr-45 { margin-right: 45px; }
.mr-50 { margin-right: 50px; }
.mr-55 { margin-right: 55px; }
.mr-60 { margin-right: 60px; }